$font-stack: Montserrat, sans-serif;
$theme-white: #FFFFFF;
$theme-dark-grey: #222222;
$theme-light-grey: #6D6F78;
$theme-off-white: #EFEFEF;
$theme-blue-1: #1EB6C8;
$theme-blue-2: #009CED;
$theme-orange-1: #FFAF00;
$theme-orange-2: #FF8109;
$theme-pink-1: #F83F78;
$theme-purple-1: #BB378A;

$light-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
$heavy-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);