@import 'base';

.App {
  text-align: center;
}

.main-navbar {
  ul {
    list-style: none;
    display: flex;
    li {
      a {
        background-color: $theme-dark-grey;
        text-decoration: none;
        padding: 8px 20px;
        margin: 5px 30px;
        color: white;
        border-radius: 10px;
        box-shadow: 0 3px 0 $theme-blue-1;
        position: relative;
      }
      a:visited {
        color: white;
      }
      a:active {
        box-shadow: none;
        top: 3px;
      }
    }

  }

}