@import 'base';

.App {
  text-align: center;
}

.main-navbar {
  ul {
    list-style: none;
    display: flex;
    li {
      a {
        background-color: $theme-dark-grey;
        text-decoration: none;
        padding: 8px;
        margin: 5px;
      }
      a:visited {
        color: white;
      }
    }

  }

}