@import '_base';

html {
  background: rgb(220,215,250);
  background: linear-gradient(135deg, rgba(220,215,250,1) 0%, rgba(178,200,254,0.7684115882681197) 100%);
  animation: 2s ease-out 0s 1 fadeInAnimation;
}

body {
  margin: 0;
  font-family: $font-stack;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* style for user page */

.card {
  box-shadow: $light-box-shadow;
  transition: 0.3s;
  cursor: pointer;
}

.card:hover {
  box-shadow: $heavy-box-shadow;
}

.round-image {
  border-radius: 50%;
}

.profile-image {
  height: 10rem;
  width: 10rem;
  object-fit: cover;
}

.profile-image:hover{
  animation: 1s ease-out 0s 1 ascend;
}

.profile-name {
  font-size: 2rem;
  font-weight: lighter;
  color: black;
  margin-bottom: 10px;
}

.line-wrap-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 400px);
}

.user-profile {
  padding: 40px;
}

.post-container {
  padding: 10px;
  background-color: white;
}

.post-container.card {
    text-align: left;
    margin-top: 10px;
    max-width: 300px;
    max-height: 2.5rem;
    overflow: hidden;
    /*background: linear-gradient(rgba(255, 255, 255, 0) 70%, rgb(255, 255, 255) 100%);*/
}

.align-centre {
  align-content: center;
  text-align: center;
}

@keyframes ascend {
  from { transform: translateY(0px);}
  to {
    transform: translateY(-10px);
  }
}

@keyframes fadeInAnimation {
  from { opacity: 0;
    background: rgb(220,215,250);
  }
  to { opacity: 1;
    background: linear-gradient(135deg, rgba(220,215,250,1) 0%, rgba(178,200,254,0.7684115882681197) 100%);}
}
